h1{
color: PINK;}

body {
	
    background: white url("background.gif") no-repeat;
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
  
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

