{% extends 'base.html' %}
{% load static %}
		<link rel="stylesheet" type="text/css"
			  href="{% static 'accounts/style.css' %}">

{% block content %}
{% if user.is_authenticated %}
	<div class="home-page">
		<form class="page">
			<h1 class="title">Welcome, {{ user.username }}!</h1>
			<p class="welcome-text">Is your door currently locked?</p>
			<a href="{% url 'locked' %}"><button type="button">YES</button></a>
			<a href="{% url 'unlocked' %}"><button type="button">NO</button></a>
			<a href="{% url 'logout' %}"><button type="button" style="background-color: #939393">Log out</button></a>
		</form>

	</div>
	
{% else %}
	<div class="home-page">
		<form class="page">
			<p class="welcome-text">You are not logged in</p>
			<a href="{% url 'login' %}"><button type="button">log in</button></a>
			<a href="{% url 'signup' %}"><button type="button" style="background-color: #939393">sign up</button></a>
		</form>
	</div>
{% endif %}
{% endblock %}
