{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="login-page">
  <div class="form" method="post">
  <form class="signup-form" method="post">
      {% csrf_token %}
      {% for field in form %}
      !<<p> <small style="color: grey">{{ field.help.text }}</small> </p>>
    {% endfor %}
    {{ form.as_p }}
      <button type="submit">create</button>
      <p class="message">Already registered? <a href="{% url 'login' %}">Log In</a></p>
    </form>
  </div>
</div>
{% endblock %}