@import url(https://fonts.googleapis.com/css?family=Raleway);

/* SMARTPHONE */
@media only screen and (max-width: 1100px) {
  .login-page {
    width: 90%;
    margin: 60px auto;
  }
  .home-page button {
    padding: 25px;
    font-size: 33px;
    margin-bottom: 15px;
  }
  .home-page button:hover,.form button:active,.form button:focus {
    background: #3631EB;
  }
  .page {
    max-width: 90%;
    padding: 7%;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 15px 15px 0 rgba(0, 0, 0, 0.24);
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 60px auto;
  }
  .title {
    font-size: 66px;
  }
  .welcome-text {
    font-size: 300%;
    margin-bottom: 70px;
  }
  .error-message {
    font-weight: bolder;
    font-size: 15px;
    margin-left: 5%;
    margin-top: -3%;
}
  .form {
    max-width: 90%;
    padding: 7%;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 15px 15px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    font-size: 40px;
    padding: 30px;
    margin: 0 0 4%;
    border-radius: 5px;
}
  .form button {
    padding: 50px;
    font-size: 33px;
    margin-top: 4%;
  }
  .form .message {
    margin: 60px 0 0;
    color: #b3b3b3;
    font-size: 34px;
  }
}
/*------smartphone------*/

/* DESKTOP */
@media only screen and (min-width: 1101px) {
  .login-page {
    width: 360px;
    margin: auto;
  }
  .form {
    position: relative;
    margin: auto;
    padding: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 5px;
  }
  .form input {
    border: 0;
    margin: 0 0 12px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 5px;
  }
  .form button {
    padding: 15px;
    font-size: 14px;
    margin-top: 10px;
  }
  .form .message {
    margin: 15px 0 0;
    font-size: 12px;
  }
  .home-page button {
    padding: 15px;
    font-size: 14px;
    margin-bottom: 15px;
  }
  .error-message {
    font-weight: bolder;
    font-size: 11px;
    margin-left: 5%;
    margin-top: -8px;
  }
  .form .register-form {
    display: none;
  }
  .page {
    position: relative;
    margin: auto;
    padding: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    width: 360px;
    margin-top: 120px;
  }
  .welcome-text {
    font-size: 25px;
  }
  .home-page button:hover,.form button:active,.form button:focus {
    background: #3631EB;
  }
}
/*------desktop------*/



body {
  width: 100wh;
  height: 90vh;
  color: #fff;
  background: linear-gradient(-45deg, #843EFF, #365EEB, #38D7FF, #27E89A, #37FF30);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  padding: 10px;
}
.page{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  text-align: center;
}
.inline-buttons {
  text-align: center;
}
@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
.error-message {
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  text-align: left;
  color: red;
}
.home-page button {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  outline: 0;
  background: #365EEB;
  width: 100%;
  border: 0;
  color: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.login-page {
  padding: 8% 0 0;
}
.title {
  text-transform: capitalize;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #333333;
  padding-bottom: 20px;
}
.welcome-text {
  font-family: "Raleway", sans-serif;
  color: #333333;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  text-align: center;
}
.form input {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  color: black;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  box-sizing: border-box;
}
.form button {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  outline: 0;
  background: #365EEB;
  width: 100%;
  border: 0;
  color: #FFFFFF;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 5px;
}

.form button:hover,.form button:active,.form button:focus {
  background: #3631EB;
}
.form .message {
  font-family: "Raleway", sans-serif;
  font-weight: lighter;
  color: #b3b3b3;
}
.form .message a {
  color: #365EEB;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
